:root {
    --primary-color: #ffffff;
    --secondary-color: #ee5725;
    --accent-color: #000000;
    --border-box: rgb(116, 112, 112)0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
}

header {
    margin-top: 30px;
    font-size: 30px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-size: large;
}

footer {
    background-color: var(--secondary-color);

}