:root {
    --primary-color: #2c5e50;
    --secondary-color: #f4f4f4;
    --accent-color: #d4a373;
    --text-color: #333;
    --font-main: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    margin: 10px;
    padding: 0;
}

header,
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
}

header {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.368);
    border-width: 0 3px 4px 3px;
    margin-bottom: 5px;
}

.chiloe-container {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.chiloe-picture {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.data-card,
.weather-card {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-card {
    text-align: center;
}

.data-card h2,
.weather-card h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--accent-color);
    margin-top: 0;
}

#weather-img {
    width: 30%;
    height: auto;
    margin-left: calc(50px + 3vw);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.label {
    font-weight: bold;
    color: #555;
}

picture source {
    width: 100%;
    height: auto;
    object-fit: cover;
}