@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {

    --heading-font: "MedievalSharp", serif;
    --paragraf-font: "Times New Roman", serif;
    --border-radius: 10px;
    --border: 2px solid var(--secondary-color);
    --primary-color: #ededed;
    --secondary-color: #374ce6;
    --accent-color: #192bb0;
    --link-color: #703590;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
}

.section {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: var(--border-radius);
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main :nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

main :nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

main :nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}

main :nth-child(4) {
    grid-column: 1;
    grid-row: 3
}

main :nth-child(5) {
    grid-column: 3;
    grid-row: 3;
}

.container {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: var(--border-radius);
    border: var(--border);
}

.titleSection {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

.wireframe {
    width: 200px;
    height: auto;
}

#sitePlan {
    padding: 20px;
    grid-row: 2;
    grid-column: 1/span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}