body {
    font-family: 'roboto', sans-serif;
}

header,
main,
footer {
    width: 640px;
    margin: 1rem auto;
    border: 2px solid rgba(127, 192, 248, 0.34);
    background-color: rgba(0, 55, 174, 0.784);
    padding: 2rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    background-color: rgba(82, 177, 255, 0.993);
    padding: 1rem;
}