html,
body {
    margin: 0;
    background-color: rgb(194, 194, 194);
}

header {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    border: 6px solid rgba(158, 158, 158, 0.542);
    box-sizing: border-box;
}

header nav {
    width: 50%;
    font-size: 20px;
    background-color: rgba(158, 158, 158, 0.542);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#menuBox {
    display: none;
    flex-direction: row;
    flex: 1;
    gap: 10px;
}

#menuBox.show {
    display: flex;
}

#btnDropdown {
    display: block;
    font-size: clamp(1rem, 5vw, 1.2rem);
    padding: 10px;
    border: none;
    background-color: rgba(11, 11, 11, 0.362);
    color: white;
    cursor: pointer;
    border-radius: 2px;
    min-width: 50px;
    flex-shrink: 0;
    margin: 15px;
}

.beforeMenu.none {
    display: none;
}

#navMenu.expanded {
    width: 100%;
    display: flex;
}

.menu {
    padding: 10px 15px;
    margin: 10px 5px;
    border-bottom: 2px solid rgba(114, 113, 113, 0.234);
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    border-radius: 2px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu:hover {
    background-color: rgba(114, 113, 113, 0.234);
    border-bottom: 2px solid rgba(114, 113, 113, 0.234);
}

header h1 {
    width: 50%;
    margin-left: 3%;
    font-size: clamp(1rem, 5vw, 3rem);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#titleHome {
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid rgba(158, 158, 158, 0.566);
    border-radius: 5px;
    width: 50%;
    margin: 0 auto 20px auto;
}

#templeSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 1rem;
}

.templeBox {
    text-align: center;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    max-width: 400px;
}

.templeImg {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

footer {
    height: 100px;
    background-color: rgb(194, 194, 194);
    width: 100%;
    border-top: 2px solid rgba(158, 158, 158, 0.566);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding-top: 30px;
}

footer p {
    margin: 10px;
}