@media (min-width: 700px) {
    #templeSection {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #menuBox {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        position: static;
        margin: 15px;
    }

    .menu {
        padding: 0.5rem 5px;
        display: flex;
        flex: 1;
        border-bottom: 2px solid rgba(114, 113, 113, 0.234);
        font-size: clamp(1rem, 2vw, 2rem);
        border-radius: 8px;
        justify-content: center;
        align-items: center;
    }

    #btnDropdown {
        display: none;
    }

    header nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    header h1 {
        width: 30%;
    }
}