html,
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #9b9ea4;
    height: 14vh;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}

header span {
    color: white;
}

header>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65%;
}

header>div+div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.727);
}

.navLink {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(49, 41, 41, 0.097);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin: auto;
    width: 90%;
    gap: 5px;
}

main>h1 {
    grid-column: 2/ 5;
    grid-row: 1/2;
    text-align: center;
}

main>section:first-of-type {
    height: auto;
    padding: 0;
    grid-column: 1/ 4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    border: 2px solid rgba(49, 41, 41, 0.356);
    border-radius: 10px 10px 0 0;
    padding-left: 15px;
    box-sizing: border-box;
}

main>section+section {
    grid-column: 4/ 6;
    grid-row: 2/3;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    box-sizing: border-box;
    border: 2px solid rgba(49, 41, 41, 0.356);
    border-radius: 10px 10px 0 0;
}

#apartInfo>h3 {
    text-align: center;
    grid-column: 2/5;
    grid-row: 1/2;
    width: 100%;
}

#apartInfo>div {
    grid-column: 2/5;
    text-align: center;
    box-sizing: border-box;
    padding: 30% 0;
}

.listInfo {
    text-align: left;
    margin: 20px;
    font-size: 20px;
    width: 100%;
}

section>h3 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 25px;
    border-bottom: 1px solid rgba(49, 41, 41, 0.164);
    width: 95%;
}

#pAbaoutMe {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: justify;
    box-sizing: border-box;
    padding: 5% 10%;
    background-color: #c2c3c3;
    height: 60%;
    border-radius: 5px;

}

#danielProfile {
    height: auto;
    width: auto;
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 20px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 5%;
}

#danielProfile>img {
    width: 70%;
    height: 75%;
    object-fit: cover;
    border-radius: 5px;
}

#boxDiv {
    grid-row: 4/5;
    grid-column: 3/4;
    padding: 5% 10%;
    box-sizing: border-box;
}

#boxDiv>img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15%;
}

section>h2 {
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    border-bottom: 1px solid rgba(49, 41, 41, 0.164);
}

#pChile {
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 5% 10%;
    background-color: #c2c3c3;
    border-radius: 5px;
}

footer {
    background-color: #9b9ea4;
    color: white;
    text-align: center;
    padding: 12px 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
}